h1 {
    font-family: 'Oregano', cursive;
}


h2 {
    font-family: 'Oregano', cursive;
}


/*section {
    

}*/

/*classes*/
.container {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 50%;

}



/*ids*/
#header-img {
    max-width: 100%;
    height: auto;
}


#footer-img {
    max-width: 100%;
    height: auto;
}


#nav-bar {
    position: fixed;
}



/*media queries*/
@media (min-width: 1024px) {


}
